
.icon-label {
  display: inline;
  font-size: small;
}

.icon-label.calendar {
  color: cadetblue;
}

.icon {
  display: inline-flex;
  vertical-align: middle;
  margin-bottom: 4px;
  /* margin-left: -5px; */
  margin-right: 5px;
}

.eol > .icon {
  fill: red;
}

.calendar > .icon {
  fill: cadetblue;
}

.md-typeset ul {
  list-style-type: none;
  margin-left: -8px;
}

.md-typeset a {
  color: #7b0101;
}

.md-typeset a:hover {
  color: var(--md-primary-fg-color);
}

img.link-service-icon {
  height: 25px;
  width: auto;
  transition: transform .2s;
  opacity: 0.2;
}

.link-service-icon:hover {
  transform: scale(1.3);
  opacity: 1;
}
